/* Social Media Sidebar */
.social-media-container {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 5;
  padding: 20px 10px;
  background-color: var(--secondary-bg-color);
  border-radius: 12px;
  box-shadow: var(--shadow-md);
}

.social-media-wrapper {
  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.25s ease;
}

.social-media-item {
  width: 35px;
  height: 35px;

  border-radius: 12px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.25s ease;
}

.social-media-wrapper:hover .social-media-item {
  transform: translateX(12px);
}

.social-media-item svg {
  width: 24px;
  height: 24px;
}

.social-media-toggle {
  position: absolute;
  top: 10px;
  z-index: 10;
  width: 45px;
  height: 45px;

  border-radius: 50%;
  background: var(--primary-color);
  color: var(--main-text-color);
  font-size: 20px;

  display: none;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  box-shadow: var(--shadow-lg);
}

@media (max-width: 900px) {
  .social-media-toggle {
    display: flex;
  }

  .social-media-container {
    top: 15px;
    left: 20px;
    max-height: 45px;
    padding-top: 0;

    padding: 10px;
    gap: 10px;

    overflow: hidden;
    transform: translateY(0);
    transition: all 0.3s ease;
  }

  .social-media-container.expanded {
    padding-top: 70px;
    max-height: 500px;
  }

  .social-media-wrapper {
    opacity: 0;
    transform: translateX(-10px);
    pointer-events: none;
    transition: all 0.25s ease;
  }

  .social-media-container.expanded .social-media-wrapper {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
}
